.BG-Container {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    /* width: 120rem; */
    max-height: 44rem;
    /* margin-bottom: 3rem; */
    /* object-fit: cover; */
    /* background-color:black; */
}


.Judul {
    display: flex;
}

.Judul h1 {
    /* font-size: 1rem; */
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 6rem;
    padding-left: 10rem;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 5.25rem;
}

.Rating {
    /* margin-top: -1rem; */
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    display: flex;
    text-align: left;
    color: white;
    padding-left: 10rem;
}

.Overview {
    max-width: 70rem;
    /* width: 66rem; */
    display: flex;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: white;
    padding-left: 10rem;
    text-align: justify;
  text-justify: inter-word;
  /* text-align: left; */


}

.Tombol {
    display: inline-flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    padding-left: 10rem;
}

.watchlist-btn {
    margin-left: 2rem;
    color: white;
}

@media screen and (max-width: 1200px) {

    .Judul h1 {
        padding-top: 3rem;
        padding-left: 4rem;
        font-size: 4rem;

    }

    .Rating {
        /* margin-top: -1rem; */
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-left: 4rem;
    }

    .Overview {
        max-width: 40rem;
        display: flex;
        font-size: 1.7rem;
        line-height: 2rem;
        padding-left: 4rem;

    }

    .Tombol {
        padding-bottom: 3rem;
        padding-left: 4rem;
    }

}

@media screen and (max-width: 768px) {

    .Judul h1 {
        padding-top: 3rem;
        padding-left: 2rem;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .Rating {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 0.7rem;
        display: flex;
        padding-left: 2rem;
    }

    .Overview {
        max-width: 30rem;
        display: flex;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-left: 2rem;

    }

    .Tombol {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;

        font-size: 0.7rem !important;
        line-height: 0.7rem;
    }

    .BG-Container {

        margin-bottom: 1rem;

    }

}

@media screen and (max-width: 480px) {

    .Judul h1 {
        padding-top: 3rem;
        padding-left: 2rem;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .Rating {
        margin-top: -0.4rem;
        /* font-size: 1rem; */
        line-height: 0.7rem;
        display: flex;
        text-align: left;
        padding-left: 2rem;
    }
    .totalReview{
        margin-top: 0.5rem;
    }

    .Overview {
        max-width: 20rem;
        display: flex;
        font-size: 1rem;
        line-height: 1.1rem;
        padding-left: 2rem;
        margin-top: 1rem;

    }

    .Tombol {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;

        font-size: 0.7rem !important;
        line-height: 0.7rem;
    }


}