.PageContainer {
    margin-bottom: 5rem;
}

.DetailContainer {
    /* display: flex; */
    max-width: 100rem;
    /* background-color: black; */
    margin: auto;
}

.SynopContainer {
    display: inline-flex;
}

.MovContainer {
    width: max-content;
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.LineContainer {
    /* display: inline-flex; */
    /* flex-direction: row; */
    /* width: 80%; */
    /* border: 2px; */
    height: 5px;
    /* background-color: black; */
    /* border: 2px; */

}

.Line-atas {

    width: 70rem;
    background-color: #CDCDCD;
    height: 5px;
    margin-left: 2.3rem;
    /* max-width: 4rem; */
}

.Line-bawah {

    width: 70rem;
    background-color: #CDCDCD;
    height: 5px;
    margin-left: 1rem;
    /* max-width: 4rem; */
}

.BtnLink {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 1rem 0;

}

.ButtonList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5rem;
}

.infoDetail {
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.LinkBtn{
    margin: 1rem 0 1rem 0 !important;
}

.submitBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem !important;
}

.Line {
    width: 50rem;
}

@media screen and (max-width: 1399px) {
    .Line-atas {
        width: 45rem;
    }

    .Line-bawah {
        width: 45rem;
    }
}

@media screen and (max-width: 990px) {
    .Line-atas {
        width: 31rem;
    }

    .Line-bawah {
        width: 31rem;
    }
}

@media screen and (max-width: 767px) {
    .Line-atas {
        width: 21rem;
    }

    .Line-bawah {
        width: 21rem;
    }
}

@media screen and (max-width: 504px) {
    .Line-atas {
        width: 10rem;
    }

    .Line-bawah {
        width: 10rem;
    }
}